<launch>
        <arg 
               name = "freq"
               default = "10"
        />
        <arg 
               name = "enableBag"
               default = "false"
        />
	<node
		pkg = "beginner_tutorials"
		name = "talker"
		type = "talker"
		output = "screen"
                args = "$(arg freq)"
	/>
	<node
		pkg = "beginner_tutorials"
		name = "listener"
		type = "listener"
		output = "screen"           
	/>
        <node    
                if = "$(arg enableBag)"
		pkg = "rosbag"
		name = "record"
		type = "record"
		args = "-a -O $(find beginner_tutorials)/rosbagRecorded.bag"      
	/>
</launch>

